doctype html
html(lang="en")
	head
		title baseShizzle

		script(src='js/vendor.min.js', type='text/javascript')
		script(src='js/main.min.js', type='text/javascript')

		script(src='//localhost:36000/livereload.js', type='text/javascript')

body
	h1 Base
	p go for gold

	noscript
		h3 JavaScript Motherfuç&er, DO YOU SPEAK IT!?
